[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
requests = "*"
pytest = "*"
"beautifulsoup4" = "*"

[dev-packages]
pylint = "*"
pytest-vcr = "*"

[requires]
python_version = "3.7"
